services:
  app:
    image: streamlit_app
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamlit_agent_app
    ports:
      - "8501:8501"
    env_file:
      - .env
    environment:
      - STREAMLIT_SERVER_RUN_ON_SAVE=true
    volumes:
      - .:/app
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - __pycache__/
            - .env
        - action: rebuild
          path: Dockerfile
        - action: rebuild
          path: requirements.txt
